<label>Name:</label>
<%= @destination.name%><br>
<label>Country:</label>
<%= @destination.country%><br>


<label>Most Recent Destination Posts</label>
<%=@destination.most_recent%>
<label>Most Liked Posts About this Destination:</label>
<%=@destination.most_liked%>
<label>Avg Age of Blogger:</label>
<%=@destination.avg_age%>
